<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a  href="/"><h1>Blog Web</h1></a>
        </div>
        <ul>
            <li>Blogs</li>
            <li>About</li>
            <li>New Blogs</li>
        </ul>
    </nav>
    <div class="not-found content">
        <h2>OOPS, page not found</h2>
    </div>
</body>
</html>